:root {
    --step--3:clamp(0.88rem, calc(0.82rem + 0.31vw), 1.06rem);
    --step--2: clamp(1.09rem, calc(0.93rem + 0.86vw), 1.60rem);
    --step--1: clamp(1.30rem, calc(1.10rem + 1.16vw), 2.00rem);
    --step-0: clamp(1.56rem, calc(1.29rem + 1.56vw), 2.60rem);
    --step-1: clamp(1.88rem, calc(1.51rem + 2.08vw), 3.13rem);
    --step-2: clamp(2.25rem, calc(1.77rem + 2.76vw), 3.91rem);
    --step-3: clamp(2.70rem, calc(2.06rem + 3.64vw), 4.88rem);
    --step-4: clamp(3.24rem, calc(2.40rem + 4.77vw), 6.10rem);
    --step-5: clamp(3.89rem, calc(2.80rem + 6.24vw), 7.63rem);
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

main{
    margin:30px auto;
    width:80%;
}

.logo img{
    width:150px
}

.mockup_div{
    margin:30px 0;
}
.mockup_div img{
    width:100%;
}

.description {
    color:#fff;
    text-align :center;
}

.description h1{
    font-family: 'Poppins', sans-serif;
    font-size: var(--step-0);
}

.description p{
    font-family: 'Open Sans', sans-serif;
    margin:20px 0 0 0;
    line-height: 1.5em;
    font-size:var(--step--3);
}

.description button{
    font-family: 'Open Sans', sans-serif;
    width:180px;
    height:50px;
    border-radius: 40px;
    border:none;
    color:hsl(257, 40%, 49%);
    margin:25px 0 0 0;
    font-weight:400;
    font-size: 15px;
    box-shadow: rgba(34, 23, 36, 0.8) 0px 3px 8px;
}

.description button:hover{
    color:#fff;
    background-color: hsl(300, 69%, 71%);
    cursor:pointer;
}

.social_media{
    display: flex;
    gap: 14px;
    margin:40px 0 0 0;
}

.social_media img{
    filter: brightness(0) invert(1);
    width:40px;
    height: 40px;
    border:#fff solid 1px;
    border-radius: 50%;
    padding:9px;
}

.instagram_icon{
    margin-right: auto;
}
.facebook_icon{
    margin-left:auto;
}

.social_media img:hover{
    cursor:pointer;
    filter: invert(44%) sepia(74%) saturate(1589%) hue-rotate(287deg) brightness(99%) contrast(92%);
}
/*? --------------------------Desktop version---------------- */
@media(min-width:900px){
    body{
        background-image: url(images/bg-desktop.svg);
    }
    main{
        width:90%;        
    }
    .logo img{
        width:200px
    }
    .mid_section{
        display: flex;
        align-items: center;
        margin:50px 0 0 0;
    }
    .mockup_div{
        width:53%;
        margin:0;
    }
    .description{
        text-align: left;
        width:47%;
        padding:0 0 0 60px ;
    }
    .social_media{
        padding:0;
        margin:90px 0 0 0;
    }
    .instagram_icon{
        margin:0;
    }
    .description button{
        font-size:18px;
        font-weight:600px;
    }
}